.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  }


  .modalContent {
    background-color: rgba(33, 22, 8, 0.26);
    margin: auto;
    width: 400px;
    border-top: solid rgba(97, 80, 80, 0.671) 2px;
    border-bottom: solid rgba(97, 80, 80, 0.671) 2px;
    border-radius: 5px;
    
  }

  h4{
    text-align: center;
    color: rebeccapurple;
    font-size: 20px;
  }
  
  .left_td{
    text-align: left;
  }


  .form_section{
    text-align: center;
    border: solid rgba(97, 80, 80, 0.671) 2px;
    border-bottom: none;
    border-top: none;
    background-color: rgba(28, 20, 10, 0.086);
    border-radius: 4px;
    color: rgba(116, 131, 131, 0.401);
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  input{
    background-color: rgba(128, 128, 128, 0.362) ;
    border: solid black 1px;
    border-radius: 5px;
  }

  input:focus{
    outline: none !important;
    border-color: #1666b5;
    box-shadow: 10px #463721e2;
    border: solid black 1px;
    background-color: rgba(255, 228, 196, 0.363);
  }


  .submit:hover{
    cursor: pointer;
    text-shadow: 0 0 1px rgb(88, 44, 44), 0 0 2px rgb(67, 55, 55), 0 0 3px rgb(109, 96, 23);
  }

  button#button_submit {
    background-color: rgba(255, 228, 196, 0.363);
    color: rgba(255, 228, 196, 0.392);
    border-radius: 5px;
  }

  button#button_submit:hover {
    cursor: pointer;
    border-radius: 10px;
    width: 50px;
    height: 90%;
    background-color: rgba(255, 228, 196, 0.707);
    color: rgba(255, 228, 196, 0.886);
    color: rgba(103, 11, 11, 0.808);

  }
